*{
    font-family: 'VT323';
    font-size: 18px;
}


/*Desktop Viewport*/

body{
    background-color: #D3E4CD;
}

hr{
    width: 40%;
    border: 1px solid darkgray;
}

.heading {
    width: 70%;
    margin: 0 auto;
}

.heading h1{
    font-size: 4rem;
}

.character-selection{
    width: 40%;
    display: grid;
    gap: 30px;
    grid-template: 80px / 40% 40%;
    justify-content: center;
    margin: 30px auto;
}

.character-type{
    background-color: #99A799;
    box-shadow: 5px 5px grey;
    margin: 10px 10px;
    padding: 0  5px;
}

.character-type p{
    font-size: 1.5rem;
    margin-block-start: 0.5em;
    margin-block-end: 0.5em;
}


.character-area{
    text-align: center;
    margin: 0 auto;
}

.character{
    display: flex;
    flex-wrap: wrap-reverse;
    justify-content: center;
    width: 70%;
    height: 20%;
    margin: 0 auto 50px;
    font-size: 1.3rem;
}

.character-info{
    background-color: #99A799;
    width: 40%;
    height: 350px;
    max-height: 400px;
    min-width: 220px;
    padding: 0 10px;
    text-align: left;
    box-shadow: 5px 5px grey;
}

.character-info p{
    font-size: 1.2rem;
}

.info-grid {
    margin-top: 20px;
    display: grid;
    grid-template: 60px 60px 60px / 10% 10% 40%;
    column-gap: 50px;
}

.stats {
    font-size: 1.3rem;
}

.bars img {
    width: 100%;
}

.character-info h4{
    font-size: 1.3rem;
    margin: 0 0 20px;
}

.character-img-container {
    background-color: #99A799;
    width: 40%;
    min-width: 220px;
    max-height: 348px;
    min-height: 348px;
    margin-left: 50px;
    box-shadow: 5px 5px grey;
    display: flex;
}

.character-img{
    display: inline;
    width: 100%;
    max-width: 298px;
    height: auto;
    max-height: 298px;
    margin: auto auto;
    vertical-align: middle;
}



.character-eigenschaften{
    width: 70%;
    padding: 10px;
    background-color: #99A799;
    display: grid;
    grid-template: 350px / 50% 20px 50%;
    align-items: center;
    box-shadow: 5px 5px grey;
    margin: 0 auto;
}

.vertical-line{
    height: 250px;
    width: 5px; 
    background-color: grey;
}

.character-eigenschaften ul li{
    font-size: 1.2rem;
    list-style-type: none;
}

.character-eigenschaften img{
    margin: 10px;
}

.coin-img{
    width: 20px;
}

.traits {
    width: inherit;
    display: grid;
    grid-template: 50px 50px 50px 50px / 100%;
    gap: 10px;
    justify-content: center;
    margin: 10px auto 30px;
    text-align: left;
}

.traits div {
    font-size: 1.3rem;
    margin-left: 20px;
}



.icon-text-grid{
    display: grid;
    grid-template: 50px 50px 50px 50px / 20% 80%;
    text-align: left;
    align-items: center;
}

.skill-icons{
    width: 45px;
}

.traits-heading{
    width: 71%;
    margin: 10px auto;
}

.traits-heading-bg{
    width: 30%;
    display: flex;
    background-color: #99A799;
    align-items: center;
    box-shadow: 5px 5px grey;
}

.traits-heading img{
    margin: 20px 20px;
    width: 15%;
}

.traits-heading h2{
    margin: 0;
    vertical-align: middle;
    font-size: 2rem;
}

.skills{
    width: 80%;
    text-align: center;
    display: grid;
    grid-template: 90px 90px 90px/ 50% 50%;
    gap: 20px;
    justify-content: space-evenly;
    margin: 20px auto;
    font-size: 1.3rem;
}

.skill-box p{
    font-size: 1.3rem;
    margin: 10px 0 0 0;
}

.diamond{
    width: 130px;
}

.quest-section{
    text-align: center;
}

.logo{
    width: 30%;
}

.kpmg-logo{
    width: 40%;
}
    
.quests{
    width: 70%;
    background-color: #99A799;
    margin: 10px auto;
    text-align: left;
    padding: 10px;
    box-shadow: 5px 5px grey;
}

.quests-two{
    width: 70%;
    background-color: #99A799;
    margin: 10px auto;
    text-align: left;
    padding: 10px;
    box-shadow: 5px 5px grey;
}

.current-quest-heading {
    width: 71%;
    margin: 30px auto 10px;
}

.current-quest-heading h2{
    vertical-align: middle;
    font-size: 2rem;
}

.current-quest-heading img{
    width: 15%;
    padding: 0 20px;
}

.employer {
    text-align: left;
    width: 90%;
}

.employer h3 {
    font-size: 1.3rem;
}

.employer p {
    font-size: 1.3rem;
}

.otto-wilde{
    display: grid;
    grid-template: 100px 200px / 30% 70%; 
    column-gap: 5px;
    justify-items: center;
}

.KPMG{
    display: grid;
    grid-template: 200px / 30% 70%; 
    column-gap: 5px;
    justify-items: center;
    margin-bottom: 50px;
}

.job-description{
    width: 90%;
    line-height: 1.5;
    font-size: 1rem;
}

.job-description h3{
    font-size: 1.3rem;
}

.job-description li{
    font-size: 1.3rem;
}



.completed-quest-heading {
    margin-top: 30px;
}

.completed-quest-heading h2{
    vertical-align: middle;
    font-size: 2rem;
}

.completed-quest-heading img{
    width: 15%;
}

.hr-small{
    width: 40%;
    border: 1px solid darkgray;
}

.tutorial-heading {
    width: 71%;
    margin: 30px auto 10px;
}

.tutorial-heading h2{
    vertical-align: middle;
    font-size: 1.7rem;
}

.tutorials{
    display: grid;
    grid-template: 100px / 30% 70%; 
    column-gap: 5px;
    justify-items: center;
    margin-bottom: 50px;
}

.university-icon{
    width: 20%;
    margin: 0 20px;
    padding: 0;
}


/*Mobile Viewport*/


@media only screen and (max-width: 1200px) {
    .character-type p{
        margin-block-start: 0em;
        margin-block-end: 0em;
    }
    .otto-wilde {
        grid-template: 100px 250px / 30% 70%; 
    } 
}

@media only screen and (max-width: 1000px ) {
    .character-info{
        min-height: 400px;
        width: 100%;
    }
}

@media only screen and (max-width: 900px) {
    .character-type {
        font-size: 1rem;
        width: 100%;
    }
    .character-type p{
        font-size: 1.1rem;
        margin-top: 5px;
    }
    .character-selection{
        width: 35%;
        display: grid;
        grid-template: 80px / 50% 50%;
        justify-items: center;
        margin: 30px auto 10px;
    }
    .character{
        width: 90%;
    }
    .character-img-container {
        margin: 20px auto;
        width: 30%;
        min-width: 220px;
        min-height: 220px;
        box-shadow: 5px 5px grey;
        display: flex;
    }
    .character-img {
        width: 180px;
        height: 180px;
        display: inline;
        vertical-align: middle;
        margin: auto auto;
    }
    .character-eigenschaften{
        width: 90%;
        padding: 10px;
        height: 800px;
        background-color: #99A799;
        display: grid;
        grid-template: 400px 400px / 95%;
        align-items: center;
        box-shadow: 5px 5px grey;
        margin: 0 auto;
    }
    .traits {
        width: inherit;
        display: grid;
        grid-template: 70px 70px 70px 70px / 90%;
    }
    .icon-text-grid{
        display: grid;
        grid-template: 50px 50px 50px 50px / 20% 80%;
        text-align: left;
        gap: 20px;
        align-items: center;
    }
    .vertical-line{
        display: none;
    }
    .traits-heading{
        width: 70%;
        margin: 10px auto;
        align-content: center;
    }
    .traits-heading-bg{
        width: 100%;
        display: flex;
        background-color: #99A799;
        align-items: center;
        box-shadow: 5px 5px grey;
    }
    .traits-heading-bg img{
        min-width: 20%;
    }
    .traits-heading-bg h2{
        font-size: 1.5rem;
    }
    .skills{
        width: 100%;
        grid-template: 100px 100px 100px/ 50% 50%;
        margin: 10px auto 10px 10px;
        justify-content: center;
        margin: 20px auto;
        font-size: 1.2rem;
    }
    .skill-box{
        display: grid;
        grid-template: 50px 60px / 100%;
        justify-content: center;
        align-items: center;
        align-content: center;
    }
    .quests {
        width: 90%;
    }
    .current-quest-heading {
        width: 70%;
        margin: 30px auto 10px;
        align-content: center;
    }
    .current-quest-heading h2{
        vertical-align: middle;
        font-size: 1.5rem;
    }
    .current-quest-heading img{
        width: 10%;
        padding: 0 10px;
    }
    .logo{
        min-width: 80%;
    }
    .quests-two{
        width: 90%;
    }
    .otto-wilde {
        grid-template: 100px 700px / 30% 70%; 
    }
    .KPMG {
        grid-template: 100px 280px / 30% 70%;
        gap: 10px; 
    }
    .tutorials{
        display: grid;
        grid-template: 180px / 35% 65%; 
        column-gap: 20px;
        margin-bottom: 50px;
    }
}
